
   <div>
   <div class="header-content">
    <div class="text">
        <img src="../../../assets/img/logo.png" />
        <span>Attendance management system</span>
    </div>
    <div class="logout_language_content">
        <div class="logout">
                <!-- <i class="ri-global-line" style="color: #3b82f6; font-size: 30px;" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"></i>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" (click)="languageChange($event.target)" >
                <a class="dropdown-item" value="en">{{'LANGUAGE.ENGLISH' | translate}}</a>
                <a class="dropdown-item" value="gu">{{'LANGUAGE.GUJRATI' | translate}}</a>
            </div> -->
        </div>
        <div class="logout">
                <i class="ri-user-3-fill" style="color: white; font-size: 30px;" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"></i>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item">Dashboard</a></li>
                <li><a class="dropdown-item">View Profile</a></li>
                <li><a class="dropdown-item" (click)="changepassword()" >Change Password</a></li>
                <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
            </ul>
        </div>
    </div>
   </div>
   </div>
